{% extends 'base.html' %}


{% block content %}
	<h1>TODO list
		<a>Add task</a>
	</h1>

	<hr>

	<div>
		{% for todo in todo_list %}
			<h4>{{ todo.content }}

				{% if todo.done == True %}
					<span class="text-success">{{ todo.done }}</span>
				{% else %}
					<span class="text-danger">{{ todo.done }}</span>
				{% endif %}

			</h4>
			<p>Created: {{ todo.datetime }}</p>
			<p class="h4 text-secondary">Tag:
				{% for tag in todo.tag.all %}
					<span>{{ tag.name }}</span>
				{% endfor %}
			</p>
			<hr>
		{% endfor %}
	</div>

{% endblock %}
